* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.link {
  background-color: rgb(29, 29, 5);
  height: 100px;
  z-index: 1;
  position: fixed;
  left: 10px;
  top: 10px;
  margin: 0;
  line-height: 1.7;
}

.link:hover{
  transform: scale(1.1);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;


  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 120px;
    margin-bottom: 30px;
  }

  .row__item {
    border-bottom: 2px solid #101010;
    padding-bottom: 50px;
    .row__left {
      padding: 20px;
      .row__date {
        border-bottom: 1px solid #101010;
        padding-bottom: 10px;
      }

      .row__title {
        text-align: left;
        font-size: 1.2rem;
        padding: 10px 0;
      }

      .row__description {
        line-height: 2;
      }
    }

    .row__video__wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    width: 100%;
    flex-direction: column;
    background-color: #101010;
    color: rgb(128, 128, 128);
    padding: 20px;

    .left {
      align-items: flex-start;
    }

    .socials {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
      flex-direction: row;

      a {
        width: 40px;
        height: 40px;
        margin: 0 15px;
        background-color: #303030;
        border-radius: 50%;
        box-shadow: 0 5px 11px 0 rgba(000, 000, 000, 0.18),
          0 4px 15px 0 rgba(000, 000, 000, 0.15);
        transition: 0.3s ease;

        img {
          width: 20px;
        }
      }
    }
    p {
      width: 100%;
      font-weight: 100;
      font-size: 0.9rem;
      text-align: center;
      margin: 10px 0;
    }
  }
}

@media (min-width: 800px) {
  .container {

    h1{
      margin-bottom: 80px;
    }
    .row__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      border: none;
      max-width: 1000px;

      .row__video__wrapper {
        align-self: center;
        grid-column-start: 2;
      }
    }

    .reverse {
      .row__left {
        grid-column-start: 2;
        grid-row-start: 1;
      }

      .row__video__wrapper,
      .row__img {
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: center;
      }
    }

    .footer {
      flex-direction: row;
      .left {
        width: auto;
      }
      .socials {
        width: auto;
        margin-left: 100px;

        a:hover {
          transform: translate(0, -10px);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {

    h1{
      font-size: 2.6rem;
    }
    .footer {
      flex-direction: row;
      .socials {
        width: auto;
        flex-direction: row !important;
        a {
          width: 50px;
          height: 50px;

          img {
            width: 25px;
          }
        }
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
