* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  background-color: #1d1d05;
  height: 100px;
  z-index: 1;
  position: fixed;
  left: 10px;
  top: 10px;
  margin: 0;
  line-height: 1.7;
}

.link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.container h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 120px;
  margin-bottom: 30px;
}

.container .row__item {
  border-bottom: 2px solid #101010;
  padding-bottom: 50px;
}

.container .row__item .row__left {
  padding: 20px;
}

.container .row__item .row__left .row__date {
  border-bottom: 1px solid #101010;
  padding-bottom: 10px;
}

.container .row__item .row__left .row__title {
  text-align: left;
  font-size: 1.2rem;
  padding: 10px 0;
}

.container .row__item .row__left .row__description {
  line-height: 2;
}

.container .row__item .row__video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.container .row__item .row__video__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.container .footer {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #101010;
  color: gray;
  padding: 20px;
}

.container .footer .left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .footer .socials {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .footer .socials a {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  background-color: #303030;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container .footer .socials a img {
  width: 20px;
}

.container .footer p {
  width: 100%;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 800px) {
  .container h1 {
    margin-bottom: 80px;
  }
  .container .row__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    border: none;
    max-width: 1000px;
  }
  .container .row__item .row__video__wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .container .reverse .row__left {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .container .reverse .row__video__wrapper,
  .container .reverse .row__img {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .footer .left {
    width: auto;
  }
  .container .footer .socials {
    width: auto;
    margin-left: 100px;
  }
  .container .footer .socials a:hover {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
}

@media (min-width: 1200px) {
  .container h1 {
    font-size: 2.6rem;
  }
  .container .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .footer .socials {
    width: auto;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .container .footer .socials a {
    width: 50px;
    height: 50px;
  }
  .container .footer .socials a img {
    width: 25px;
  }
  .container .footer p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */