* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #101010;
}

.link {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 100px;
  line-height: 1.7;
  z-index: 1;
}

.link:hover {
  transform: scale(1.1);
}

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 120px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
